<section>
    <div class="swiper mySwiper-1">
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <img src="./img/vite-logo.png" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
    </li>
    <li class="swiper-slide">
      <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
    </li>
  </ul>
  <div class="swiper-pagination-1"></div>
</div>
</section>
