<header class="header">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, ipsam
    maiores iste fugiat veritatis nobis quam eveniet, nemo fuga possimus
    praesentium omnis? Assumenda consequuntur, repudiandae facere totam labore
    aspernatur iure.
  </p>
  <button>khkjhkj</button>
  <img
    src="./img/vite-logo.png"
    alt="Підключення з ./"
    width="300"
    height="300"
  />
  <img
    src="../img/vite-logo.png"
    alt="Підключення з ../"
    width="300"
    height="300"
  />
  <button class="js-open-modal" data-modal="2">Открыть окно 2</button>
  <button class="js-open-modal" data-modal="1">Открыть окно 1</button>
</header>
