.header {
    padding: 150px 0;
    background-color: aqua;
}



@media screen and(min-width: 768px) {
    .header {
            padding: 150px 0;
            background-color: aqua;
        }
    
        .header-text {}
}


@media screen and(min-width: 1200px) {
    .header {
        padding: 150px 0;
        background-color: aqua;
    }

    .header-text {}
}